* {
    margin: 0;
    padding: 0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: 'Roboto Slab', serif;
}

.hero {
    height: 100vh;
    background:url(../images/hero_img.jpg) no-repeat;
    background-size: cover;
}

.nav {
    padding: 25px 170px;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
   text-decoration: none; 
    display: inline;
}
.nav a {
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    display: block;
    float: left;
}

h1 {
	font-size: 16rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.4rem;
}

span {
	font-size: 6rem;
	font-weight: 600;
} 

#weather {
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	padding: 25px 5px;
}

.degrees {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	margin-left: 2rem;
}

.icon {
	width: 80px;
	/* filter: grayscale(100%); */
}