/**     SCSS Colors      **/
$primary: #416f83;
$secondary: #7b8e98;
$gray: #666;
$gray-darker: #333;
$shadow: 10px 40px 200px 0px rgba(0, 0, 0, 0.158);

/**     CSS Reset      **/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: $shadow;
  display: inline-block;
}

.card__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
/*****************************
**      Weather Page        **
*****************************/
#weather {
  min-height: 100vh;
  text-align: center;
  background: url("../images/weather_bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $secondary;

  h2 {
    color: $primary;
  }

  /**     Current Forecast      **/
  #current__day {
    padding: 100px;

    #card__current {
      height: 400px;
      width: 300px;

      h2 {
        font-size: 2.5rem;
        padding-top: 15px;
      }

      h3 {
        font-size: 1.4rem;
        padding: 10px 5px;
      }

      .icon {
        width: 300px;
        padding: 15px 0;
      }
    }
  }

  /**     7 Day forecast      **/
  .card__daily {
    width: 185px;
    margin: 5px;

    h2 {
      font-size: 2rem;
      padding: 10px 0;
    }

    h3 {
      font-size: 1rem;
      padding: 10px 5px;
    }

    .icon {
      width: 150px;
    }
  }
}

// LOGIN

.auth0-lock.auth0-lock .auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon {
  padding-left: 0;
}

.auth0-lock-header {
  background-color: #000;
}

@media screen and (max-width: 600px) {
  #weather {
    #current__day {
      padding: 25px 0;
    }
  }
}
